#DACTester {
  padding: 20px;

  footer {
    display: flex;
    flex-direction: row-reverse;
  }
}

#OutputChannelsPanel {
  display: flex;
  column-gap: 16px;
  row-gap: 16px;
  flex-wrap: wrap;
}

#TesterSettingsPanel {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;

  section {
    min-width: 320px;
    flex: auto;
  }
}
