@import "@styles/variables.scss";

.OutputChannels {
  background-color: $card-bg;
  min-height: 250px;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 15px;
}

#OutputChannelsPanel {
  section {
    display: flex;
    column-gap: 16px;
  }
}
