@import "@styles/variables.scss";

// Placeholder for testing
* {
  box-sizing: border-box;
}

#TesterConfig {
  margin: 40px 0;
  background-color: $card-bg;

  .Parameter {
    justify-content: flex-start;
    min-width: 250px;
  }

  input {
    margin: 0;
  }
}

.param--label {
  width: 150px;
}
