@import "@styles/variables.scss";
.list-container {
  background-color: $card-bg;
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  padding: 15px 0px;
  border-radius: 0px 10px 10px 10px;
  flex-direction: column;
  overflow-x: scroll;
}

.listed-items {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 100%;
}

.item {
  background-color: $textbox-color;
  display: grid;
  grid-template-columns: 45% 45% 10%;

  flex-direction: column;
  border-radius: 15px;
  padding: 15px 14px;
  margin: 2px 5px;
  font-size: 17px;
  align-items: flex-start;
  justify-content:flex-start;
}

.dropdown{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
.case {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: scroll;
  margin: 0px 5px;
}

.case-icon {
  display: flex;
  flex-direction: row-reverse;
}

.close-icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0px 0px 0px 5px;
  }

  .tab {
    width: 30%;
    min-width: 200px;
    background-color: $card-bg;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 0px;

    &--text {
      font-weight: lighter;
      font-size: 20px;
      margin: 0;
    }

    &--icon {
      cursor: pointer;
    }
  }